---
import Layout from '../layouts/Layout.astro';
import githubMark from '../assets/githubMark.svg';
---

<Layout title="Patrik Elfström">
  <div class="h-40v flex flex-col self-end selection:bg-patrik-blue selection:text-white">
    <header class="m-2">
      <h1 class="m-0 text-white text-4xl font-bold">Patrik Elfström</h1>
    </header>
    <main id="site" class="m-2">
      <a
        class="opacity-75 text-white no-underline transition-opacity duration-200 ease-in-out hover:opacity-100"
        href="mailto:me@patrikelfstrom.se"
        >me@patrikelfstrom.se
      </a>
    </main>
    <footer class="m-2">
      <small class="text-gray-400">Web Developer</small>
    </footer>
    <aside class="m-2 mt-auto mb-11 text-center">
      <a
        class="opacity-30 text-white no-underline transition-opacity duration-200 ease-in-out hover:opacity-100"
        href="https://github.com/PatrikElfstrom"
        target="_blank"
        rel="noreferrer"
      >
        <img class="inline" src={githubMark} alt="Github Profile" />
      </a>
    </aside>
  </div>
</Layout>
