---
export interface Properties {
  title: string;
}

import '../styles/global.css';
import structuredData from '../../public/structuredData.json';
import Triangles from '../components/Triangles/Triangles.astro';

const { title } = Astro.props as Properties;

const structuredDataString = JSON.stringify(structuredData);
---

<!doctype html>
<html lang="en" class="overflow-hidden">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/icons/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={structuredData.mainEntityOfPage.description} />
    <link rel="canonical" href="https://patrikelfstrom.se" />

    <meta property="og:image" content="/images/icons/patrikelfstrom-logo-1200x1200.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />
    <meta property="og:image:alt" content="Patrik Elfström logotype" />
    <meta property="og:url" content="https://patrikelfstrom.se" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary" />

    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png" />
    <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#0084c7" />

    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="author" href="/humans.txt" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <script type="application/ld+json" is:inline set:html={structuredDataString} />
  </head>

  <body class="bg-patrik-gray m-0 h-screen font-sans">
    <div class="flex h-screen items-center justify-center text-center">
      <slot />
    </div>
    <Triangles />
  </body>
</html>
