{{> head}}
    <header>
        <h1>404</h1>
    </header>
    <main id="site" class="site">
        <p>Oops!</p>
    </main>
    <footer>
        <small>
            <a href="https://{{host}}">{{host}}</a>
        </small>
    </footer>
{{> foot}}
