{{> head}}
    <div class="wrapper">
        <header>
            <h1>Patrik Elfström</h1>
        </header>
        <main id="site" class="site">
            <a href="mailto:me@patrikelfstrom.se">me@patrikelfstrom.se</a>
        </main>
        <footer>
            <small>
                Web Developer
            </small>
        </footer>
    </div>
{{> foot}}
